{
  "listen_addr": "127.0.0.1:1080",
  "mode": "driver",
  "gas_ids": [
    "YOUR_SCRIPT_ID_1"
  ],
  "gas_key": "YOUR_GAS_KEY",
  "google_folder_id": "YOUR_FOLDER_ID",
  "transport": {
    "TargetIP": "216.239.38.120:443",
    "SNI": "www.google.com",
    "HostHeader": "www.googleapis.com",
    "InsecureSkipVerify": false
  }
}